*,
::after,
::before {
  box-sizing: border-box;
  // @include visible-bound()
}

html {
  height: 100%;
  background-image: url("./assets/svg/cell-96-160.svg");
}

body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: var(--color-text);
  background-color: #a1d2f1;
  // background-image: url("./assets/svg/cell-body.svg");
}

a {
  color: inherit;
  text-decoration: none;
  outline-offset: -1px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
